@tablet: 768px;
@desktop: 1440px;
@retina-dpi: 144dpi;
@retina-dppx: 1.5dppx;
@base-color: #444444;
@button-color: #68b738;
@button-hover: #5eaa2f;
@import "global.less";
@import "blocks/page-header.less";
@import "blocks/logo.less";
@import "blocks/main-nav.less";
@import "blocks/cats-food.less";
@import "blocks/catalogs.less";
@import "blocks/about.less";
@import "blocks/example.less";
@import "blocks/example-range.less";
