.page-header__wrap {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  min-height: 65px;
  padding: 0 20px;

  background-color: #ffffff;
  box-sizing: border-box;
}
